.game-grid-cell {
 	width: 100px;
	height: 100px;
	background-color:  #DDD;
	border: 1px solid black;
	font-family: verdana, sans-serrif;
	text-align: center
}

.choosePlayer{
	font-size: 25px;
	font-family: verdana,sans-serif;
	color:blue;
	text-align: center; 
}

#TTT_Head{
	text-align: center;
}

#dynamicTable{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	font-size: 50px;
}

